@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Mina", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #293029;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.attachment-full {
  position: absolute;
  right: 0;
  top: 0;
}